<% # partial to edit one workout_route %>

<div>
  <%= workout_route.route.name %>
</div>

<div>
  <%= workout_route.route.description %>
</div>

<% workout_route.data_points.each do |dp| %>
  <div>
    <%= dp.data_type.name%>: <%= dp.to_s %>
  </div>
<% end %>

