<h1>Editing Dropdown Option</h1>

<%= render 'form', dropdown_option: @dropdown_option, model: @dropdown_option %>

<%= link_to 'Back', data_type_dropdown_options_path(@data_type), class: "back-button" %>
