<h1>Editing Dropdown Option</h1>

<%= render 'form', additional_data_type_option: @additional_data_type_option, model: @additional_data_type_option %>

<%= link_to 'Back', additional_data_type_additional_data_type_options_path(@additional_data_type) %>
