// classes used to set the background color of html associated with CommentStatusTypes, SuggestedChangeStatusTypes, and SuggestedChangeResponseTypes

.bg_color_indianred{ background: indianred;}
.bg_color_lightcoral{ background: lightcoral;}
.bg_color_salmon{ background: salmon;}
.bg_color_darksalmon{ background: darksalmon;}
.bg_color_lightsalmon{ background: lightsalmon;}
.bg_color_crimson{ background: crimson;}
.bg_color_red{ background: red;}
.bg_color_firebrick{ background: firebrick; color: white;}
.bg_color_darkred{ background: darkred; color: white;}
.bg_color_pink{ background: pink;}
.bg_color_lightpink{ background: lightpink;}
.bg_color_hotpink{ background: hotpink;}
.bg_color_deeppink{ background: deeppink;}
.bg_color_mediumvioletred{ background: mediumvioletred;}
.bg_color_palevioletred{ background: palevioletred;}
.bg_color_lightsalmon{ background: lightsalmon;}
.bg_color_coral{ background: coral;}
.bg_color_tomato{ background: tomato;}
.bg_color_orangered{ background: orangered;}
.bg_color_darkorange{ background: darkorange;}
.bg_color_orange{ background: orange;}
.bg_color_gold{ background: gold;}
.bg_color_yellow{ background: yellow;}
.bg_color_lightyellow{ background: lightyellow;}
.bg_color_lemonchiffon{ background: lemonchiffon;}
.bg_color_lightgoldenrodyellow{ background: lightgoldenrodyellow;}
.bg_color_papayawhip{ background: papayawhip;}
.bg_color_moccasin{ background: moccasin;}
.bg_color_peachpuff{ background: peachpuff;}
.bg_color_palegoldenrod{ background: palegoldenrod;}
.bg_color_khaki{ background: khaki;}
.bg_color_darkkhaki{ background: darkkhaki;}
.bg_color_lavender{ background: lavender;}
.bg_color_thistle{ background: thistle;}
.bg_color_plum{ background: plum;}
.bg_color_violet{ background: violet;}
.bg_color_orchid{ background: orchid;}
.bg_color_fuchsia{ background: fuchsia;}
.bg_color_magenta{ background: magenta;}
.bg_color_mediumorchid{ background: mediumorchid;}
.bg_color_mediumpurple{ background: mediumpurple;}
.bg_color_rebeccapurple{ background: rebeccapurple;}
.bg_color_blueviolet{ background: blueviolet;}
.bg_color_darkviolet{ background: darkviolet;}
.bg_color_darkorchid{ background: darkorchid;}
.bg_color_darkmagenta{ background: darkmagenta;}
.bg_color_purple{ background: purple; color: white;}
.bg_color_indigo{ background: indigo; color: white;}
.bg_color_slateblue{ background: slateblue;}
.bg_color_darkslateblue{ background: darkslateblue; color: white;}
.bg_color_mediumslateblue{ background: mediumslateblue;}
.bg_color_greenyellow{ background: greenyellow;}
.bg_color_chartreuse{ background: chartreuse;}
.bg_color_lawngreen{ background: lawngreen;}
.bg_color_lime{ background: lime;}
.bg_color_limegreen{ background: limegreen;}
.bg_color_palegreen{ background: palegreen;}
.bg_color_lightgreen{ background: lightgreen;}
.bg_color_mediumspringgreen{ background: mediumspringgreen;}
.bg_color_springgreen{ background: springgreen;}
.bg_color_mediumseagreen{ background: mediumseagreen;}
.bg_color_seagreen{ background: seagreen;}
.bg_color_forestgreen{ background: forestgreen;}
.bg_color_green{ background: green;}
.bg_color_darkgreen{ background: darkgreen; color: white;}
.bg_color_yellowgreen{ background: yellowgreen;}
.bg_color_olivedrab{ background: olivedrab;}
.bg_color_olive{ background: olive; color: white;}
.bg_color_darkolivegreen{ background: darkolivegreen; color: white;}
.bg_color_mediumaquamarine{ background: mediumaquamarine;}
.bg_color_darkseagreen{ background: darkseagreen;}
.bg_color_lightseagreen{ background: lightseagreen;}
.bg_color_darkcyan{ background: darkcyan;}
.bg_color_teal{ background: teal;}
.bg_color_aqua{ background: aqua;}
.bg_color_cyan{ background: cyan;}
.bg_color_lightcyan{ background: lightcyan;}
.bg_color_paleturquoise{ background: paleturquoise;}
.bg_color_aquamarine{ background: aquamarine;}
.bg_color_turquoise{ background: turquoise;}
.bg_color_mediumturquoise{ background: mediumturquoise;}
.bg_color_darkturquoise{ background: darkturquoise;}
.bg_color_cadetblue{ background: cadetblue;}
.bg_color_steelblue{ background: steelblue;}
.bg_color_lightsteelblue{ background: lightsteelblue;}
.bg_color_powderblue{ background: powderblue;}
.bg_color_lightblue{ background: lightblue;}
.bg_color_skyblue{ background: skyblue;}
.bg_color_lightskyblue{ background: lightskyblue;}
.bg_color_deepskyblue{ background: deepskyblue;}
.bg_color_dodgerblue{ background: dodgerblue;}
.bg_color_cornflowerblue{ background: cornflowerblue;}
.bg_color_mediumslateblue{ background: mediumslateblue;}
.bg_color_royalblue{ background: royalblue;}
.bg_color_blue{ background: blue; color: white;}
.bg_color_mediumblue{ background: mediumblue; color: white;}
.bg_color_darkblue{ background: darkblue; color: white;}
.bg_color_navy{ background: navy; color: white;}
.bg_color_midnightblue{ background: midnightblue; color: white;}
.bg_color_cornsilk{ background: cornsilk;}
.bg_color_blanchedalmond{ background: blanchedalmond;}
.bg_color_bisque{ background: bisque;}
.bg_color_navajowhite{ background: navajowhite;}
.bg_color_wheat{ background: wheat;}
.bg_color_burlywood{ background: burlywood;}
.bg_color_tan{ background: tan;}
.bg_color_rosybrown{ background: rosybrown;}
.bg_color_sandybrown{ background: sandybrown;}
.bg_color_goldenrod{ background: goldenrod;}
.bg_color_darkgoldenrod{ background: darkgoldenrod;}
.bg_color_peru{ background: peru;}
.bg_color_chocolate{ background: chocolate;}
.bg_color_saddlebrown{ background: saddlebrown;}
.bg_color_sienna{ background: sienna;}
.bg_color_brown{ background: brown; color: white;}
.bg_color_maroon{ background: maroon; color: white;}
.bg_color_white{ background: white;}
.bg_color_snow{ background: snow;}
.bg_color_honeydew{ background: honeydew;}
.bg_color_mintcream{ background: mintcream;}
.bg_color_azure{ background: azure;}
.bg_color_aliceblue{ background: aliceblue;}
.bg_color_ghostwhite{ background: ghostwhite;}
.bg_color_whitesmoke{ background: whitesmoke;}
.bg_color_seashell{ background: seashell;}
.bg_color_beige{ background: beige;}
.bg_color_oldlace{ background: oldlace;}
.bg_color_floralwhite{ background: floralwhite;}
.bg_color_ivory{ background: ivory;}
.bg_color_antiquewhite{ background: antiquewhite;}
.bg_color_linen{ background: linen;}
.bg_color_lavenderblush{ background: lavenderblush;}
.bg_color_mistyrose{ background: mistyrose;}
.bg_color_gainsboro{ background: gainsboro;}
.bg_color_lightgray{ background: lightgray;}
.bg_color_silver{ background: silver;}
.bg_color_darkgray{ background: darkgray;}
.bg_color_gray{ background: gray;}
.bg_color_dimgray{ background: dimgray;}
.bg_color_lightslategray{ background: lightslategray;}
.bg_color_slategray{ background: slategray;}
.bg_color_darkslategray{ background: darkslategray; color: white;}
.bg_color_black{ background: black; color: white;}
