.header {
  background-color: black;
  width: 100%
}

#navbar-logo {
  color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  display: inline-block;
  max-width: 50px;
  height: 50px;
  line-height: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#navbar-brand {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 25px;
  max-width: 220px;
  height: 50px;
  white-space: normal; //allow to wrap
  float: left;

}

.navbar {
  justify-content: flex-start;
}
.navbar-toggler {
  margin-right: 15px;
}

.navbar-nav {
  margin-left: 1px;
}

.nav-text {
  margin-left: 5px;
}

//font-awesome icons
.svg-inline--fa {
  font-size: 20px;
  margin-right: 5px;
}

.dropdown-menu li {
  clear: both;
}

.hidden {
  display: none;
}