div.route-info {
  border-left: 1px black solid;
  padding: 5px;
}

div.route-details {
  //border-left: 1px black solid;
  //padding: 5px;
  & label {
    padding-left: 10px;
    padding-right: 5px;
  }

  & input {
    width: 20em;
  }

  & input.short-input {
    width: 4em;
  }
}

.delete-route {
  padding-left: 5px;
}