.header {
  background-color: black;
  width: 100%
}

#navbar-logo {
  color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  display: inline-block;
  max-width: 50px;
  height: 50px;
  line-height: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#navbar-brand {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 25px;
  max-width: 220px;
  height: 50px;
  white-space: normal; //allow to wrap
  float: left;

}

.navbar {
  justify-content: flex-start;
}
.navbar-toggler {
  margin-right: 15px;
}

.navbar-nav {
  margin-left: 1px;
}

.nav-text {
  margin-left: 5px;
}

.navbar-text.rulemaking-name {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 12px; //it's navbar-text if there is only 1 rulemaking for this user. In this case it's text, not a link
}
.rulemaking-name {
  font-weight: bold;
  a {
    margin-top: 10px; //to center vertically with other navbar links
  }
}

//font-awesome icons
i.fa {
  font-size: 30px;
}

//font-awesome icons in a dropdown list
.dropdown-item i.fa {
  font-size: 15px;
  margin-right: 5px;
}

.dropdown-menu li {
  clear: both;
}

.hidden {
  display: none;
}