<h1>New Data Type</h1>

<%= render 'form', additional_data_type: @additional_data_type, model: [@workout_type, @additional_data_type] %>

<%= link_to 'Back', workout_type_additional_data_types_path(@workout_type) %>
