<%# edited for Bootstrap 5.0 %>
<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a id="navbar-brand" class="navbar-brand"><%= APPLICATION_NAME %></a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>
